<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>client Lists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">firstname</th>
        <th scope="col">lastname</th>
        <th scope="col">email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client,state: ${clients}">
        <td th:utext="${client.id}"></td>
        <td th:utext="${client.firstname}"></td>
        <td th:utext="${client.lastname}"></td>
        <td th:utext="${client.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
